<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you, <%= @user.name %></h1>
    <p>
      You'll hear from us soon about our exciting new project.
    </p>
  </body>
</html>