<%= form_for @login, :url => { :action => 'trylogin' } do |f| %>

  <div class="field">
    <% @login.errors[:email].each do |e| %>
    <p class="error"><%= e %></p>
    <% end %>
    <p><%= f.password_field :password, :placeholder => 'Password' %></p>
  </div>
  
  <div class="actions">
    <%= f.submit "Login" %>
  </div>
  
<% end %>